/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
border: 1px solid blue;
}

header{
    height: 80px;
    background-color: #000000;
}
main{
    height: 100vh;
    background-color: #000000;
}
.container-pinco-pallo{
    /* height: 300px;
    width: 400px; */
    display: flex;
    justify-content: flex-start;
}
div{
    margin: .5rem .1rem;
    
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

