/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
border: 1px solid blue;
}

header{
    height: 100px;
    background-color: #000000;
}
main{
    height: 100vh;
    background-color: #000000;
}
.container-flex{
    /* height: 300px;
    width: 400px; */
    display: flex;
    justify-content: flex-start;
}
div{
    margin: .5rem .1rem;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.max-width{
    max-width: 1700px;
}
.big-container{
    margin: 150px;
}
.nome-utente{
    color: wheat;
    background-color: #616F79;
    padding: .2rem .8rem;
    position: absolute;
    
    left: 0;
}

