/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Border: 1px solid aqua;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
    font-size: .8rem;
    max-width: 1800px;
}

.flex-centered{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main{
    height: calc(100vh - 110px);
    overflow-y: auto;
}

main section.gallery{
    height: 100%;
}

article{
    width: 250px;
    height: 150px;
    position: relative;
    padding: .25rem;
}


article img.user-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article span.user-id{
    position: absolute;
    left: .25rem;
    bottom: .25rem;
    background-color: rgba(0, 0, 0, .4);
    padding: 0 .25rem;
}
#banner{
    height: 40px;
    text-align: right;
}

#banner span{
    display: inline-block;
    margin-top: .25rem;
    margin-right: .25rem;
    border-radius: .25rem;
    background-color: #494c4c;
    padding: .25rem .5rem;
}

#banner i.fa-grip{
    margin-right: .25rem;
}

